<div class="navigator">
    <nav>
        <ul>
            <li routerLink="home">
                <img src="../../../assets/images/controller.png" alt="logo videogame"/>
            </li>
            <li>
                <a routerLink="/videogames">Videogames</a>
            </li>
            <li>
                <a routerLink="/creations">Creations</a>
            </li>
            <li>
                <a>Login</a>
            </li>
            <li>
                <a>Register</a>
            </li>
        </ul>
    </nav>
    </div>