<div class="navigator">
    <nav>
        <ul>
            <li routerLink="home">
                <img src="../../../assets/images/controller.png" alt="logo videogame"/>
            </li>
            <li>
                <a routerLink="/videogames">Videojuegos</a>
            </li>
            <li>
                <a routerLink="/creations">Mis Creaciones</a>
            </li>
            <li>
                <a routerLink="/create">Añade un Videojuego</a>
            </li>
        </ul>
    </nav>
    </div>