<div class="home-container">
    <video src="../../../assets/images/background1.mp4" autoplay loop muted></video>
    <h1 class="title">Bienvenid@ a GamingHub</h1>
    <h2 class="subtitle">Tu web oficial de videojuegos</h2>
    <h3 class="description">En esta web podrás guardar tus videojuegos favoritos en tu colección
        personal con tan
        solo navegar a la pestaña de "videojuegos" y buscar por el título del mismo. Desde ahí,
        podrás acceder también a los detalles de dicho videojuego y visualizar sus características.
        Además, también podrás crearlos tú mism@ desde el formulario de la pestaña "Añadir"
        e incluso editar sus datos desde "Mi Colección". Happy gaming!
    </h3>
</div>